.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid rgb(158, 158, 158);
}

ul {
  list-style: none;
  text-align: left;
}

.city {
  font-size: 25px;
  text-transform: capitalize;
}
